@font-face {
  font-family: 'Source Sans Pro';
  font-style: lighter;
  font-weight: 200;
  src: url('/fonts/Source_Sans_3/SourceSans3-ExtraLight.ttf') format('truetype')
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: light;
  font-weight: 300;
  src: url('/fonts/Source_Sans_3/SourceSans3-Light.ttf') format('truetype')
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Source_Sans_3/SourceSans3-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: medium;
  font-weight: 500;
  src: url('/fonts/Source_Sans_3/SourceSans3-Medium.ttf') format('truetype')
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: medium;
  font-weight: 600;
  src: url('/fonts/Source_Sans_3/SourceSans3-SemiBold.ttf') format('truetype')
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: bold;
  font-weight: 700;
  src: url('/fonts/Source_Sans_3/SourceSans3-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: bolder;
  font-weight: 800;
  src: url('/fonts/Source_Sans_3/SourceSans3-ExtraBold.ttf') format('truetype')
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: black;
  font-weight: 900;
  src: url('/Source_Sans_3/SourceSans3-Black.ttf') format('truetype')
}