@import "tailwindcss";

@theme {

  --color-primary-dark-blue: rgba(36, 40, 63, 1);
  --color-primary-blue: rgba(36, 40, 63, 0.87);
  --color-primary-orange: rgba(234, 209, 132, 1);
  --color-primary-white: rgba(255, 255, 255, 0.87);

  --breakpoint-2xl: 80rem;
}
 
body {
  @apply bg-primary-dark-blue/10 text-primary-white tracking-wider;
  font-family: var(--font-source-sans-3), sans-serif;
  text-shadow: var(--text-shadow-sm);
}